.contentBlock {
    width: 100%;
    margin-top: 100px;
}

.galleries {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.leftPart,
.rightPart {
    width: 325px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.rightPart {
    /* justify-content: flex-end; */
    align-items: end;
}

.galleryTitle {
    font-size: 24px;
    font-weight: 800;
}


.galleryDescription {
    height: 90px;
    overflow: auto;
}

.rightPart .galleryDescription {
    text-align: end;
}