.contentBlock {
    width: 100%;
    margin-top: 100px;
}

.contentContainer {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.galleries {
    display: flex;
}

.leftPart,
.rightPart {
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.rightPart {
    /* justify-content: flex-end; */
    align-items: end;
}

.galleryTitle {
    font-size: 24px;
    font-weight: 800;
    margin: 0 0 20px 0;
}

.galleryDescription {
    height: 90px;
    overflow: auto;
}

.leftPart .galleryDescription {
    padding: 0 10px 0 0;
}

.rightPart .galleryDescription {
    padding: 0 0 0 10px;
}

.rightPart .galleryDescription {
    text-align: end;
}

.contentFooter {
    width: 50%;
    justify-content: space-between;
    display: flex;
    margin: 25px 0 10px;
}

.price {
    margin: 5px 0 0 0;
}

.summaryPrice {
    margin: 0;
}

.price,
.summaryPrice {
    font-size: 26px;
    font-weight: 600;
}

.summaryPrice {
}

.addToCartButton {
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: aliceblue;
    box-shadow: 0 0 10px gray;
    font-size: 16px;
}

.addToCartButton:hover {
    background-color: rgb(219, 237, 255);
    cursor: pointer;
}
